body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  }
  
  .main {
    display: flex;
    justify-content: center;
    padding-right: 2em;
  }
  
  .left {
    display: flex;
    justify-content: left;
    text-align: left;
    max-width: 38em;
    padding-right: 4em;
    padding-left: 4em;
  }
  
  .name {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin-top: 1ex;
    margin-bottom: 1ex;
    margin-right: 0.5ex;
    text-align: center;
  }
  
  .bio {
    padding-bottom: 1px;
  }
  
  .portrait {
    border-radius: 50%;
    width: 200px;
    margin-top: 2cm;
    margin-right: 3em;
  }
  
  .paper {
    margin-left: 4em;
    margin-bottom: 1ex;
    display: flex;
    justify-content: left;
    vertical-align: top;
  }
  
  .paper div {
    margin: 0pt;
    padding: 0pt;
    line-height: 18pt;
  }
  
  .paper .pub {
    min-height: 2pt;
    font-style: italic;
    max-width: 50em;
  }
  
  .paper .award {
    font-weight: bold;
    font-style: normal;
    color: #AD6830;
  }
  
  .paper .award:before {
    content: "\2605";
    padding-right: 2pt;
    padding-left: 3pt;
    vertical-align: 0.6pt;
    font-weight: bold;
  }
  
  .paper .title {
    font-size: medium;
    font-weight: bold;
    max-width: 50em;
    padding-right: 6em;
  }
  
  .paper .info {
    width: 100%;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 3.5ex;
  }
  
  .paper .authors {
    max-width: 50em;
    text-wrap: balance;
  }
  
  .paper .year {
    display: none;
    width: 2em;
  }
  
  .links > span + span:before {
    content: " ";
    padding-left: 1em;
    padding-right: 1em;
    margin-left: -3px;
  }
  
  .links * {
    margin: none;
    padding: none;
    z-index: 10;
  }
  
  .links {
    white-space: nowrap;
    position: relative;
    width: 0;
  }
  
  .header {
    padding-bottom: 3ex;
  }
  
  .links .icon,
  .options .icon {
    margin-right: 1pt;
    margin-left: 2pt;
  }
  
  .options > span {
    padding-right: 1em;
    padding-top: 1pt;
    white-space: nowrap;
  }
  
  .options * {
    font-size: normal;
    padding-top: 2pt;
  }
  
  .authors + .options * {
    padding-top: 3pt;
  }
  
  table {
    border-collapse: collapse;
  }
  
  a {
    color: #263C75;
    text-decoration: none;
  }
  
  a:hover {
    color: #aa551c;
  }
  
  h1,
  .name {
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    color: #111;
  }
  
  h2 {
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.399999618530273px;
    color: #111;
  }
  
  h3 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.399999618530273px;
    color: #111;
  }
  
  h4 {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.399999618530273px;
    color: #111;
  }
  
  h5 {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.399999618530273px;
    color: #111;
  }
  
  p,
  .paper div {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #333;
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    z-index: 200;
  }
  
  .close:hover {
    color: #fe0606;
    text-decoration: none;
  }
  
  .me {
    font-weight: bold;
  }
  
  .notice {
    margin-left: 4em;
    padding-left: 3em;
    padding-bottom: 1cm;
    display: block;
  }
  
  .equal-notice,
  .equaladv-notice {
    font-size: 11pt;
    padding-right: 2em;
    color: #666;
    display: inline-block;
  }
  
  .equal-notice:before {
    content: "*";
    width: 5pt;
    text-align: left;
  }
  
  .equaladv-notice:before {
    content: "\2020";
    display: inline-block;
    font-size: 80%;
    vertical-align: 3pt;
    width: 4pt;
    text-align: left;
  }
  
  .equal:after {
    content: "*";
    display: inline-block;
    width: 0pt;
    margin-right: 1pt;
  }
  
  .equaladv:after {
    content: "\2020";
    display: inline-block;
    width: 0pt;
    font-size: 80%;
    vertical-align: 3pt;
    margin-right: 1pt;
  }
  
  .thumbnail {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .thumbnail input[type="checkbox"] {
    display: none;
    width: 0;
    height: 0;
  }
  
  .thumbnail .small {
    height: 6em;
    width: 6em;
    padding-right: 2em;
    padding-bottom: 2ex;
    cursor: zoom-in;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .zoomed,
  .video {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(200, 200, 200, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
  }
  
  .zoomed img, .zoomed video {
    position: relative;
    align-items: center;
    width: 40em;
    height: 40em;
    object-fit: contain;
    cursor: zoom-out;
    z-index: 100;
    margin: auto auto;
    background: white;
    background-image: url("spinner.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
  }
  
  .video video {
    position: relative;
    align-items: center;
    object-fit: contain;
    z-index: 100;
    width: 100%;
    margin: auto auto;
    background: white;
    background-image: url("spinner.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .video .content {
    width: 60%;
    position: relative;
  }
  
  .popup {
    position: fixed;
    inset: 0;
    background: rgba(200, 200, 200, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup .content {
    position: relative;
    background: lightgray;
    padding: 1em 1em;
    border-radius: 4px;
    width: 70em;
    user-select: all;
  }
  
  .popup .content pre {
    white-space: pre-wrap;
    padding: 1em 2em;
    background: none;
  }
  
  .zoomed:target,
  .video:target,
  .popup:target {
    display: flex;
  }
  
  code[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  pre[class*="language-"]::selection {
    background-color: #c2bfd0;
  }
  
  
  @media only screen and (max-width: 500px) {
    .left {
      padding-right: 1em;
      padding-left: 0em;
    }
  
    .portrait {
      width: 150px;
      margin-top: 1cm;
      margin-right: 0em;
    }
  
    .name {
      padding-top: 1ex;
    }
  
    .paper {
      padding-left: 0em;
    }
  
    .notice > * {
      padding-left: 0em;
    }
  
    .notice > * + * {
      margin-left: 0cm;
    }
  
    th:has(.portrait) {
      padding-left: 1em;
      padding-right: 6em;
      padding-bottom: 1cm;
      width: 0;
      position: relative;
      vertical-align: middle;
    }
  }
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2020 .paper, .publications + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2020 .paper, .publications + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2020 .paper, .publications + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2020 .paper, .publications + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2020 .paper, .publications + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2021 .paper, .publications + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2021 + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2021 + tr.yr-2020 .year, .publications + tr.yr-2021 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2021 .paper, .publications + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2021 .paper, .publications + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2021 .paper, .publications + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2021 .paper, .publications + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2023 .paper, .publications + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2023 + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2023 + tr.yr-2020 .year, .publications + tr.yr-2023 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2023 .paper, .publications + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2023 + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2023 + tr.yr-2021 .year, .publications + tr.yr-2023 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2023 .paper, .publications + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2023 .paper, .publications + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2023 .paper, .publications + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2024 .paper, .publications + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2020 .year, .publications + tr.yr-2024 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2024 .paper, .publications + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2021 .year, .publications + tr.yr-2024 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2024 .paper, .publications + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2024 + tr.yr-2023 .year, .publications + tr.yr-2024 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2024 .paper, .publications + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2024 .paper, .publications + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2026 .paper, .publications + tr.yr-2026 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2026 + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2026 + tr.yr-2025 .year, .publications + tr.yr-2026 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .preprints + tr.yr-2025 .paper, .publications + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2020 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2020 .year, .publications + tr.yr-2025 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2025 .paper, .publications + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2021 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2021 .year, .publications + tr.yr-2025 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2025 .paper, .publications + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2023 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2023 .year, .publications + tr.yr-2025 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2025 .paper, .publications + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2024 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: 0.5ex;
  }
  
  .publications ~ tr.yr-2025 + tr.yr-2024 .year, .publications + tr.yr-2025 .year {
    display: block;
    font-size: 24pt;
    color: #ddd;
    font-weight: lighter;
    padding-right: 1ex;
    padding-left: 0.5ex;
    margin-top: 0ex;
  }
  
  .notice {
    border-top: 1px solid #ccc;
    padding-top: 2.5ex;
    margin-top: -1ex;
  }
  
  .preprints + tr.yr-2025 .paper, .publications + tr.yr-2025 .paper {
    border-top: 1px solid #ccc;
    padding-top: 3ex;
    margin-top: -2.5ex;
  }
  
  img.tmd {
    background-image: url("images/tmd_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.tra {
    background-image: url("images/tra_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.horizon {
    background-image: url("images/horizon_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.jaxgcrl {
    background-image: url("images/jaxgcrl_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.empowerment {
    background-image: url("images/empowerment_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.planning {
    background-image: url("images/planning_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.palo {
    background-image: url("images/palo_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.metrics {
    background-image: url("images/metrics_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.coproc {
    background-image: url("images/coproc_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.social {
    background-image: url("images/social_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.bridge {
    background-image: url("images/bridge_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.grif {
    background-image: url("images/grif_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.query {
    background-image: url("images/query_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.rankings {
    background-image: url("images/rankings_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.surrogates {
    background-image: url("images/surrogates_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  img.hbbs {
    background-image: url("images/hbbs_preview.gif");
    background-size: 6em 6em;
    background-repeat: no-repeat;
  }
  
  