<div class="paper paper-card">
  <p class="title paper-card-title"><b>{{ include.paper.title }}</b></p>
  {% if include.paper.authors %}
  <p class="paper-card-authors">{{ include.paper.authors }}</p>
  {% endif %}
  {% if include.paper.venue %}
  <p class="paper-card-venue"><i>{{ include.paper.venue }}</i></p>
  {% endif %}
  <div class="paper-buttons">
    {% if include.paper.paper_pdf %}
      <a class="button" href="{{ include.paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
    {% endif %}
    {% if include.paper.slides %}
      <a class="button" href="{{ include.paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
    {% endif %}
    {% if include.paper.poster %}
      <a class="button" href="{{ include.paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
    {% endif %}
    {% if include.paper.video %}
      <a class="button" href="{{ include.paper.video }}" target="_blank">Video</a>
    {% endif %}
    {% if include.paper.code %}
      <a class="button" href="{{ include.paper.code }}" target="_blank">Code</a>
    {% endif %}
    {% if include.paper.data %}
      <a class="button" href="{{ include.paper.data }}" target="_blank">Data</a>
    {% endif %}
    {% if include.paper.website %}
      <a class="button" href="{{ include.paper.website }}" target="_blank">Website</a>
    {% endif %}
  </div>
</div>
