
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/papers">Papers</a></li>
		        	<li><a href="/collaborators">Collaborators</a></li>
					<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/service">Service</a></li>
	        		<li><a href="/awards">Awards</a></li>
				<li><a href="">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jiaxie@student.ethz.ch">Email</a></li>
				<li><a href="https://scholar.google.com/citations?user=Tfg7A2AAAAAJ&hl=en">Google Scholar</a></li>
	        		<li><a href="https://github.com/jiaqingxie">Github</a></li>

				</ul>
			</footer>
		</body>
	</html>
